<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIt > 0 ,
                'list-group-item-danger' : postLoveIt < 0}">
  <div>
<p class="text-right">{{getPostCreated_at() | date: 'dd/MM/y, h:mm a'}}</p>
  <h4>{{getPostTile()}}</h4>
  <div> {{getPostContent()}}</div>
<div>
  <button class="btn btn-success" (click)="onBtnSuccess()" style="padding: 5px;">Love it!</button>
  <button (click)="onBtnDanger()" class="btn btn-danger" style="margin-left: 10px">Don't love it!</button>
</div>
  </div>
</li>
